.question {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3rem 4rem;
}

.option {
    display: block;

    width: 100%;
    margin: 1rem 1rem 1rem 2.5rem;

    font-size: 3rem;
    font-weight: bold;
}

.answers {
    width: 100%;

    margin: 5rem 1rem 1rem 2.5rem;

    font-size: 3rem;
    font-weight: bold;
}

.answers > h2 {
    font-size: 2.5rem;
}

.answer {
    margin: 0.5rem 1rem 0.5rem 0;
}