/* Blue Palette */
.creme {
    background: var(--creme);
    color: var(--black);
}

/* Orange Palette */
.red {
    background: var(--red);
    color: white;
}

/* Green Palette */
.blue {
    background: var(--blue);
    color: white;
}
