/* Colors */
:root {
    --red: #e63946;
    --blue: #a8dadc;
    --creme: #f1faee;

    --grey: rgb(232, 232, 232);
    --black: #444;
}

html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;

    height: 100vh;
    width: 100%;

    margin: 0;

    font-size: 16px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    line-height: normal;

    cursor: default;
}

main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

